branches/SupportClientProfile/src/NMoneys/Currencies.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="currencies" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="currency">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="englishName" type="xs:string" maxOccurs="1" minOccurs="1" nillable="false" />
							<xs:element name="nativeName" type="xs:string" maxOccurs="1" minOccurs="1" nillable="false" />
							<xs:element name="symbol" type="xs:string" maxOccurs="1" minOccurs="1" nillable="false" />
							<xs:element name="significantDecimalDigits" type="xs:unsignedByte" maxOccurs="1" minOccurs="1" nillable="false" />
							<xs:element name="decimalSeparator" type="xs:string" maxOccurs="1" minOccurs="1" nillable="false" />
							<xs:element name="groupSeparator" type="xs:string" maxOccurs="1" minOccurs="1" nillable="false" />
							<xs:element name="groupSizes" type="xs:string" maxOccurs="1" minOccurs="1" nillable="false" />
							<xs:element name="positivePattern" type="xs:unsignedByte" maxOccurs="1" minOccurs="1" nillable="false" />
							<xs:element name="negativePattern" type="xs:unsignedByte" maxOccurs="1" minOccurs="1" nillable="false" />
							<xs:element name="obsolete" type="xs:boolean" maxOccurs="1" minOccurs="0" nillable="true" />
							<xs:element name="entity" type="xs:string" maxOccurs="1" minOccurs="0" nillable="true" />
						</xs:sequence>
						<xs:attribute name="code" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>